#!/usr/bin/make -f

export V=1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
LIB_DIR := /usr/lib/$(DEB_HOST_MULTIARCH)

%:
	dh $@ --with autoreconf

override_dh_auto_configure:
	dh_auto_configure -- --disable-libipq --enable-devel \
			--libdir=$(LIB_DIR) --with-xtlibdir=$(LIB_DIR)/xtables
